.general-content-section {
  padding: 0;
  margin: 0;
  position: relative;
}

.general-content-section .general-content-div {
  padding: 100px 0;
  margin: 0;
  position: relative;
}

.general-content-section p {
  color: #4F4F51;
  font-size: 18px;
  line-height: 26px;
  font-weight: 400;
}

.general-content-section h1 {
  color: #2C2B30;
  font-size: 40px;
  line-height: 48px;
  z-index: 1;
  letter-spacing: 0;
  position: relative;
  margin-bottom: 15px;
  font-weight: 600;
}

.general-content-section h2 {
  color: #2C2B30;
  font-size: 32px;
  line-height: 40px;
  z-index: 1;
  letter-spacing: 0;
  position: relative;
  margin-bottom: 15px;
  font-weight: 600;
}

.general-content-section h3 {
  color: #2C2B30;
  font-size: 24px;
  line-height: 32px;
  z-index: 1;
  letter-spacing: 0;
  position: relative;
  margin-bottom: 15px;
  font-weight: 600;
}

.general-content-section h4 {
  color: #2C2B30;
  font-size: 21px;
  line-height: 28px;
  z-index: 1;
  letter-spacing: 0;
  position: relative;
  margin-bottom: 15px;
  font-weight: 600;
}

.general-content-section h5 {
  color: #2C2B30;
  font-size: 18px;
  line-height: 24px;
  z-index: 1;
  letter-spacing: 0;
  position: relative;
  margin-bottom: 15px;
  font-weight: 600;
}

.general-content-section a {
  color: #2C2B30;
}

.general-content-section ul {
  margin: 0 0 30px 0;
  list-style: circle;
}

.general-content-section ul li {
  color: #4F4F51;
  font-size: 18px;
  line-height: 26px;
  font-weight: 400;
  margin: 0 0 16px 0;
}

@media screen and (max-width: 767px) {
  .general-content-section p {
    font-size: 16px;
    line-height: 22px;
  }
  .general-content-section h1 {
    font-size: 30px;
    line-height: 42px;
    margin-bottom: 15px;
  }
  .general-content-section h2 {
    font-size: 26px;
    line-height: 32px;
    margin-bottom: 15px;
  }
  .general-content-section h3 {
    font-size: 22px;
    line-height: 28px;
    margin-bottom: 15px;
  }
  .general-content-section h4 {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 15px;
  }
  .general-content-section h5 {
    font-size: 16px;
    line-height: 22px;
    margin-bottom: 15px;
  }
  .general-content-section ul {
    margin: 0 0 30px 0;
    padding: 0 0 0 25px;
  }
  .general-content-section ul li {
    font-size: 16px;
    line-height: 24px;
    margin: 0 0 15px 0;
  }
}
/*# sourceMappingURL=style.css.map */